%arena-icon {
    margin: 10px;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #ccc;
    min-height: 120px;
    min-width: 150px;
}
.main {
    margin: auto;
    border: 1px solid #ccc;
    padding: 10px;
}
h1, h4 {
    text-align: center;
}

#arena {
    min-height: 330px;
    text-align: center;
    margin: 20px;
}

#arena-me {
    float: left;
    color: blue;
    font-weight: bold;
    font-size: 3rem;
}

#arena-icon-me {
    @extend %arena-icon;
}

#arena-opp {
    float: right;
    color: red;
    font-weight: bold;
    font-size: 3rem;
}

#arena-icon-opp {
    @extend %arena-icon;
    border-radius: 3px;
    border: 1px solid #ccc;
    min-height: 120px;
    min-width: 150px;

}

.choices {
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
}

.choices-img {
    border: 1px solid #ccc;
    padding: 5px;
}

.choice-icon {
    margin: 0;
}

#status {
    text-align: center;
}

#new-game {
    display: block;
    margin: 10px auto 0 auto;
}